@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-select-slide {
  transition: left 0.5s linear, width 0.5s linear;
}

.nav-select-text-color {
  font-weight: 700;
  transition: color 1s linear 0.5s;
}

.me-image {
  position: relative;
  width: 520px;
  height: 520px;
}

.me-image::before {
  content: "";
  border-radius: 9999px;
  background: conic-gradient(red, orange, yellow, green, blue);
  width: 104%;
  height: 104%;
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: -1;
  animation: rotate 2s infinite linear;
}

.experience-title {
  position: relative;
}


.experience-title:hover:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: gray;
  animation: title-underline 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes title-underline {
  100% {
    width: 100%;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}